debug=false
env=production
request_url=
order_range=10
washer_wait_time=35
contact_tel=固话|0871-63373355,客服经理|13629401314,市场经理|13808736297
request_timeout=1000
order_expires=5
cashcount=50
fee=3
days=30

app_id=
app_secret=

tl_mch_id=
tl_mch_app_id=
tl_mch_app_key=

payment_notify_uri=/receiveTLUnifiedPayResult
transfer_mch_id=
transfer_mch_name=0
transfer_mch_password=
transfer_pfx_path=
transfer_pfx_password=
